/*  your css code here. If applicable */
header{
    background-color:  #011e29;
    text-align: center;
    color: white;
    height: 50px;
    
}
.latest-news-section{
    border-radius: 5px;
    background-color: white;
    padding: 10px;
	height: 200px;
	margin-top: 20px;
	width: 300px;
}
body{
    background-color: #f5f5f5;
}
img{
    margin-bottom: 5px;
}
.container{
	display: flex;
	gap: 20px;
}
.latest-news-article{
	width: 30%;
}
.pictorial-news-section img{
	width: 200px;
}
h2,h3{
	test-align: center;
}
.main-article{
    border-radius: 5px;
    background-color: white;
    padding: 10px;
	height: 400px;
	width: 500px;
	margin-top: 20px;
}
.pictorial-news-section{
    border-radius: 5px;
    background-color: white;
    padding: 10px;
	width: 300px;
	margin-top: 20px;
}
